{# Resources/views/bundles/FOSUserBundle/ChangePassword/change_password.html.twig #}
{% extends "@WBWAdminBSB/layout/section.html.twig" %}

{% block adminBSBTitle %}{{ ApplicationThemeProvider.title|default("AdminBSB Material Design") }} - {{ "change_password.submit"|trans([], "FOSUserBundle") }}{% endblock %}

{% block adminBSBContent %}
    {{ parent() }}
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "md": 12, "sm": 12, "xs": 12}) }}">
            <div class="card">
                <div class="header bg-{{ getContainerParameter("wbw_adminbsb.skin") }}">
                    {{ adminBSBCardHeader({"icon": "lock", "content": "change_password.submit"|trans([], "FOSUserBundle")}) }}
                </div>
                <div class="body">
                    {% include "@WBWAdminBSB/bundles/FOSUserBundle/ChangePassword/change_password/_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
