{# Resources/views/Theme/user-info.html.twig #}
<div class="user-info">
    <div class="image">
        <img src="{{ asset("bundles/wbwadminbsb/images/user.png") }}" height="48" width="48" alt="User" />
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">{{ app.user.username }}</div>
        <div class="email">{{ app.user.email }}</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{ path("fos_user_profile_edit") }}"><i class="material-icons">person</i>{{ "profile.edit.submit"|trans({}, "FOSUserBundle") }}</a></li>
                <li><a href="{{ path("fos_user_change_password") }}"><i class="material-icons">lock</i>{{ "form.password"|trans({}, "FOSUserBundle") }}</a></li>
                <li class="divider" role="seperator"></li>
                <li><a href="{{ path("fos_user_security_logout") }}"><i class="material-icons">input</i>{{ "layout.logout"|trans({}, "FOSUserBundle") }}</a></li>
            </ul>
        </div>
    </div>
</div>
