{# Resources/views/Profile/edit.html.twig #}
{% extends "@WBWAdminBSB/layout/section.html.twig" %}

{% block adminBSBTitle %}{{ ApplicationThemeProvider.title | default("AdminBSB Material Design") }} - {{ "profile.edit.submit" | trans({}, "FOSUserBundle") }}{% endblock %}

{% block adminBSBContent %}
    {{ parent() }}
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "md": 12, "sm": 12, "xs": 12}) }}">
            <div class="card">
                <div class="header bg-{{ getContainerParameter("wbw_adminbsb.skin") }}">
                    {{ adminBSBCardHeader({"icon": "person", "content": "profile.edit.submit" | trans({}, "FOSUserBundle")}) }}
                </div>
                <div class="body">
                    {{ form_start(form) }}
                    <div class="row clearfix">
                        <div class="{{ bootstrapGrid({"lg": 4, "md": 4, "sm": 12, "xs": 12}) }}">
                            {{ form_row(form.username, {"adminBSB": {"icon": "person"} }) }}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="{{ bootstrapGrid({"lg": 4, "md": 4, "sm": 12, "xs": 12}) }}">
                            {{ form_row(form.email, {"adminBSB": {"icon": "email"} }) }}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="{{ bootstrapGrid({"lg": 4, "md": 4, "sm": 12, "xs": 12}) }}">
                            {{ form_row(form.current_password, {"adminBSB":{"icon": "lock"} }) }}
                        </div>
                    </div>
                    <div class="align-right">
                        {{ bootstrapFormButtonDefault({"cancel_href": path("fos_user_profile_show") }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
