{# Resources/views/bundles/TwigBundleException/error500.html.twig #}
{% extends "@WBWAdminBSB/layout.html.twig" %}

{% block adminBSBTitle %}{{ ApplicationThemeProvider.title|default("AdminBSB Material Design") }} - {{ status_code }} {{ status_text }}{% endblock %}

{% block adminBSBAttributes %} class="five-zero-zero"{% endblock %}

{% block adminBSBContainer %}
    {{ parent() }}
    <div class="five-zero-zero-container">
        <div class="error-code">{{ status_code }}</div>
        <div class="error-message">{{ status_text }}</div>
        <div class="button-place">
            {{ adminBSBButtonDefault({"content": "label.go_homepage"|trans([], "WBWAdminBSB")|upper})|adminBSBButtonLink(ApplicationThemeProvider.route|default("/")) }}
        </div>
    </div>
{% endblock %}
