{# Resources/views/Exception/error404.html.twig #}
{% extends "@WBWAdminBSB/layout.html.twig" %}

{% block adminBSBTitle %}{{ ApplicationThemeProvider.title | default("AdminBSB Material Design") }} - {{ status_code }} {{ status_text }}{% endblock %}

{% block adminBSBAttributes %} class="four-zero-four"{% endblock %}

{% block adminBSBContainer %}
    {{ parent() }}
    <div class="four-zero-four-container">
        <div class="error-code">{{ status_code }}</div>
        <div class="error-message">{{ status_text }}</div>
        <div class="button-place">
            {{ adminBSBButtonDefault({"content": "TwigBundle.views.Exception.go_homepage" | trans({}, "WBWAdminBSB") | upper}) | adminBSBButtonLink(ApplicationThemeProvider.route | default("/")) }}
        </div>
    </div>
{% endblock %}
