{# Resources/FOSUserBundle/views/ChangePassword/edit.html.twig #}
{% extends "@AdminBSB/layout/section.html.twig" %}

{% block adminBSBHeadTitle %}{{ ApplicationProvider.title|default("AdminBSB Material Design") }} - {{ "change_password.submit"|trans({}, "FOSUserBundle") }}{% endblock %}

{% block adminBSBBodySection %}
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }}">
            <div class="card">
                <div class="header">
                    {{ adminBSBCardHeader({"icon": "lock", "content": "layout.logged_in_as"|trans({"%username%": app.user.username}, "FOSUserBundle")}) }}
                </div>
                <div class="body">
                    {{ form_start(form) }}
                    <div class="row clearfix">
                        {{ form_row(form.current_password, {"adminBSB": {"icon": "lock", "grid": 4} }) }}
                    </div>
                    <div class="row clearfix">
                        {{ form_row(form.plainPassword.first, {"adminBSB": {"icon": "lock_outline", "grid": 4} }) }}
                    </div>
                    <div class="row clearfix">
                        {{ form_row(form.plainPassword.second, {"adminBSB": {"icon": "lock_outline", "grid": 4} }) }}
                    </div>
                    <div class="align-right">
                        {{ bootstrapDefaultFormButtons({"cancel_href": path("fos_user_profile_show") }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
